@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #f2f2f2;
    --primary-color: white;
    --font-color: black;
    --font-color-hover: gray;
    --font: 'Poppins', sans-serif;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --radius: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font);
    box-sizing: border-box;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: var(--shadow);
}

#logo {
    width: 20%;
    margin: 0 auto;
}

#nav {
    text-align: center;
    padding: 1rem 0;
}

#nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: var(--font-color-hover);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    margin: 50px 0;
}

#services,
#about,
#gallery,
#testimonials,
#contact {
    padding: 4rem;
    text-align: center;
}

#contact p {
    margin-bottom: 2rem;
}

#form {
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background-color: #f2f2f2;
}

#form label {
    text-align: left;
    display: block;
}

#form label,
#form input,
#form textarea {
    width: 100%;
    margin: 10px 0;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#form input[type="text"]:focus,
#form input[type="email"]:focus,
#form textarea:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#form textarea {
    height: 150px;
}

#form button {
    background-color: #f2f2f2;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form button:hover {
    background-color: #e6e6e6;
}

footer {
    background: var(--background-color);
    color: var(--font-color);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--font-color-hover);
}